In [25]:
import numpy as np
import pandas as pd

In [45]:
ipl18 = pd.DataFrame({'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]},
                         index = range(1,9)
                    )

ipl18.set_index('Team', inplace = True)
ipl18.loc[(ipl18.NRR > 0.0) & (ipl18.For > ipl18.Against), :]
ipl18

      Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
Team
SRH        14    9     5     0    0      18  0.284  2230     2193
CSK        14    9     5     0    0      18  0.253  2488     2433
KKR        14    8     6     0    0      16 -0.070  2363     2425
RR         14    7     7     0    0      14 -0.250  2130     2141
MI         14    6     8     0    0      12  0.317  2380     2282
RCB        14    6     8     0    0      12  0.129  2322     2383
KXIP       14    6     8     0    0      12 -0.502  2210     2259
DD         14    5     9     0    0      10 -0.222  2297     2304

In [44]:
ipl17 = pd.DataFrame({'Team': ['MI', 'RPS', 'SRH', 'KKR', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [10, 9, 8, 8, 7, 6, 4, 3],
                         'Lost': [4, 5, 5, 6, 7, 8, 10, 10],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 1, 0, 0, 0, 0, 1],
                         'Points': [20, 18, 17, 16, 14, 12, 8, 7],
                         'NRR': [0.784, 0.176, 0.469, 0.641, 0.123, -0.512, -0.412, -1.299],
                         'For': [2407, 2180, 2221, 2329, 2207, 2219, 2406, 1845],
                         'Against': [2242, 2165, 2118, 2300, 2229, 2255, 2472, 2033]},
                         index = range(1,9)
                    )

ipl17.set_index('Team', inplace = True)
ipl17
total = ipl17.add(ipl18, fill_value = 0)
total

      Matches   Won  Lost  Tied  N/R  Points    NRR     For  Against
Team
CSK      14.0   9.0   5.0   0.0  0.0    18.0  0.253  2488.0   2433.0
DD       28.0  11.0  17.0   0.0  0.0    22.0 -0.734  4516.0   4559.0
GL       14.0   4.0  10.0   0.0  0.0     8.0 -0.412  2406.0   2472.0
KKR      28.0  16.0  12.0   0.0  0.0    32.0  0.571  4692.0   4725.0
KXIP     28.0  13.0  15.0   0.0  0.0    26.0 -0.379  4417.0   4488.0
MI       28.0  16.0  12.0   0.0  0.0    32.0  1.101  4787.0   4524.0
RCB      28.0   9.0  18.0   0.0  1.0    19.0 -1.170  4167.0   4416.0
RPS      14.0   9.0   5.0   0.0  0.0    18.0  0.176  2180.0   2165.0
RR       14.0   7.0   7.0   0.0  0.0    14.0 -0.250  2130.0   2141.0
SRH      28.0  17.0  10.0   0.0  1.0    35.0  0.753  4451.0   4311.0

In [46]:



total['Win Percentage'] = total['Won']/total['Matches']

total.loc[total.Points > 25].sort_values(by = ['Win Percentage'], ascending = False)

,Matches,Won,Lost,Tied,N/R,Points,NRR,For,Against,Win Percentage
Team,,,,,,,,,,
SRH,28.0,17.0,10.0,0.0,1.0,35.0,0.753,4451.0,4311.0,0.607143
KKR,28.0,16.0,12.0,0.0,0.0,32.0,0.571,4692.0,4725.0,0.571429
MI,28.0,16.0,12.0,0.0,0.0,32.0,1.101,4787.0,4524.0,0.571429
KXIP,28.0,13.0,15.0,0.0,0.0,26.0,-0.379,4417.0,4488.0,0.464286

In [49]:
import math
pi = math.pi
np.arccos(2/(np.sqrt(3)*np.sqrt(2)))*(180/pi)

35.26438968275466